Repository The-AI-Alliance/gofannon, pull requests merged in 2025-04, with the labels that each got.

#196 [FRAMEWORK] Langflow
  .github/workflows/unit-tests.yml
  gofannon/base/__init__.py
  gofannon/base/langflow.py
  pyproject.toml
  tests/unit/test_integrations.py
  tests/unit/test_langflow.py
Labels: code, framework

#219 218
  .github/scripts/stats_collector.py
  .github/workflows/stats-collector.yml
Labels: cowboy

#220 218
  .github/scripts/stats_collector.py
  .github/workflows/stats-collector.yml
  website/_includes/navbar.html
  website/_layouts/community_health.html
  website/community/health_graph.md
Labels: docs

#217 Add example that 'fixes' issues and commits to git
  examples/Headless_Browser_GET.ipynb
  examples/smolagents+vibecoding_max_level.ipynb
Labels: example

#215 NASA APOD
  docs/nasa/apod.md
  docs/nasa/index.md
  gofannon/config.py
  gofannon/nasa/__init__.py
  gofannon/nasa/apod.py
  tests/unit/test_apod.py
Labels: run-tests, docs, code, tool

#223 Anthropic Desktop (aka MCP)
  .github/workflows/unit-tests.yml
  docs/mcp/index.md
  examples/MCP_Server_with_Gofannon_Tools.ipynb
  gofannon/base/__init__.py
  gofannon/base/mcp.py
  pyproject.toml
  tests/integration/README.md
  tests/integration/conftest.py
  tests/integration/mcp/gofannon_test_server.py
  tests/integration/test_integrations.py
  tests/integration/test_mcp.py
  tests/unit/aws/test_boto3.py
  tests/unit/google/test_google_search.py
  tests/unit/headless_browser/test_headless_browser.py
  tests/unit/langflow/test_langflow.py
  tests/unit/testing/test_arxiv.py
  tests/unit/testing/test_basic_math.py
  tests/unit/testing/test_github.py
  tests/unit/testing/test_nhsta.py
  tests/unit/testing/test_open_notify_space.py
  tests/unit/testing/test_reasoning.py
  tests/unit/testing/test_wikipedia.py
Labels: run-tests, docs, code, framework

#227 Fix leaderboard issues
  .github/workflows/build-site.yml
  .github/workflows/leaderboard.yml
Labels: infra

#226 Fix Release Notes
  .github/release-drafter.yml
  .github/workflows/publish-to-pypi.yml
Labels: bug

#251 Langchain and APOD Example
  examples/Langchain+APOD.ipynb
Labels: example

#258 labels for commit issue bugfix
  docs/github/create_issue.md
  gofannon/github/create_issue.py
Labels: bug, docs, code

#267 [Tool] github.CloneRepo
  docs/github/clone_repo.md
  gofannon/github/clone_repo.py
  tests/test_clone_repo.py
Labels: docs, code

#270 [Tool] file.ReadFile
  docs/file/read_file.md
  gofannon/file/__init__.py
  gofannon/file/read_file.py
  tests/test_read_file.py
Labels: run-tests, code, tool

#273 [Tool] github.ListIssues
  docs/github/list_issues.md
  gofannon/github/list_issues.py
  tests/test_list_issues.py
Labels: docs, code

#271 [Tool] file.WriteFile
  docs/file/write_file.md
  gofannon/file/write_file.py
  tests/test_write_file.py
Labels: docs, code

#272 [Tool] file.ListDirectory
  docs/file/list_directory.md
  gofannon/file/list_directory.py
  tests/test_list_directory.py
Labels: docs, code, tool

#275 Add Llamastack Framework
  examples/Llamastack+GoogleSearch.ipynb
  gofannon/base/__init__.py
  gofannon/base/llamastack.py
  website/index.md
Labels: docs, code, framework

#280 [Unit Test] Llamastack Framework
  tests/unit/llamastack/test_llamastack.py
Labels: code, tests

#281 Add automated Analytics collection
  .github/scripts/collect_metrics.py
  .github/workflows/collect_metrics.yml
Labels: infra

#282 Bedrock Framework README.md
  docs/frameworks/bedrock/README.md
  docs/frameworks/bedrock/images/bedrock.png
  docs/frameworks/bedrock/images/bedrock2.png
  docs/frameworks/bedrock/images/bedrock3.png
  docs/frameworks/bedrock/images/bedrock4.png
  tests/integration/test_boto3.py
Labels: docs, code

#283 Add redirect for website/how-tos/contribute-tool.md
  website/Gemfile
  website/_config.yml
  website/developers/contribute_tool.md
Labels: docs, first time contributor

#290 Update Jekyll version to support Ruby 3.4+ environments
  website/Gemfile
  website/Gemfile.lock
Labels: docs

#291 Fix invalid Discord links and broken internal link
  website/_includes/discord.html
  website/about/index.md
  website/community/index.md
  website/developers/first_contribution.md
Labels: docs
