Repository The-AI-Alliance/gofannon, pull requests merged in 2025-03, with the labels that each got.

#73 Publish to PyPi
  .github/workflows/publish-to-pypi.yml
Labels: infra, run-tests

#89 Stub out Integration Tests
  .github/workflows/integration-tests.yml
  .github/workflows/unit-tests.yml
  tests/integration/placeholder.txt
  tests/unit/conftest.py
  tests/unit/test_arxiv.py
  tests/unit/test_basic_math.py
  tests/unit/test_github.py
  tests/unit/test_google_search.py
  tests/unit/test_headless_browser.py
  tests/unit/test_integrations.py
  tests/unit/test_nhsta.py
  tests/unit/test_open_notify_space.py
  tests/unit/test_reasoning.py
Labels: run-tests, code

#91 73 c
  .github/scripts/generate_version.py
  .github/workflows/publish-to-pypi.yml
Labels: cowboy

#88 86 - Make PR Review Tools extensible
  .github/scripts/pr_review_checks.py
  .github/scripts/review_pr.py
  .github/workflows/pr_review.yml
  docs/github/pr_review.md
  gofannon/github/pr_review_tool.py
  poetry.lock
  pyproject.toml
  website/how-tos/deploy_pr_review.md
  website/how-tos/index.md
Labels: run-tests, docs, code

#93 Adding link to website docs for deploying pr review
  docs/github/pr_review.md
Labels: docs

#102 Update discord link
  website/_config.yml
  website/_includes/footer.html
  website/community/index.md
Labels: docs

#103 [Docs/Website] Update the Readme
  README.md
Labels: run-tests

#107 Closes #35
  gofannon/base/__init__.py
  gofannon/base/bedrock.py
  gofannon/base/langchain.py
  gofannon/base/smol_agents.py
  pyproject.toml
  scripts/build_lambda.sh
  tests/integration/placeholder.txt
  tests/integration/test_boto3.py
  tests/unit/test_boto3.py
Labels: run-tests, code

#117 Addition of community leadership
  website/about.md
Labels: docs

#123 Fixing emojis in ROADMAP
  ROADMAP.md
Labels: cowboy

#129 updata ga tag
  website/_config.yml
Labels: cowboy, docs

#131 Adding core contributors in website/about
  website/about.md
Labels: docs

#132 [Docs/Website] Move "Why the Name Gofannon?" to Website
  README.md
  website/about/index.md
  website/about/the_name_gofannon.md
Labels: docs

#141 add smolagents + gofannon example
  examples/smolagents+gofannon_quickstart.ipynb
Labels: cowboy

#139 Core contributors table formatting
  website/about/index.md
Labels: docs

#138 Website broken links fix -- changing them to relative
  website/about/index.md
Labels: docs

#147 Powered by page
  website/community/index.md
Labels: docs

#150 Automate Roadmap Creation
  .github/scripts/generate-roadmap.js
  .github/workflows/roadmap-generator.yml
Labels: infra

#155 Fix Bug in roadmap gen
  .github/scripts/generate-roadmap.js
Labels: bug

#157 labels in PRs
  .github/scripts/generate-roadmap.js
Labels: bug

#152 added favicon
  website/_includes/head.html
  website/assets/images/favicon.ico
Labels: docs

#165 Update logo and favicon
  README.md
  website/assets/images/favicon.ico
  website/assets/images/favicon_orig.ico
  website/assets/images/gofannon_orig.jpg
  website/assets/images/logo_1000x1260.png
Labels: docs, roadmap

#170 Add Release Notes to Weekly Releases
  .github/workflows/publish-to-pypi.yml
Labels: infra, run-tests

#167 [DOCS] How to conribute a Tool
  docs/functions_and_tools_overview.md
  website/_layouts/docs.html
  website/how-tos/contribute_tool.md
  website/how-tos/index.md
Labels: docs, roadmap

#173 [BUG} Pydantic Mess
  gofannon/base/langchain.py
Labels: bug, code

#175 [wip] smolagents parameter bug
  gofannon/base/smol_agents.py
  tests/unit/test_integrations.py
Labels: bug, code

#177 Wikipedia api
  docs/wikipedia/index.md
  docs/wikipedia/wikipedia.md
  gofannon/wikipedia/__init__.py
  gofannon/wikipedia/wikipedia_lookup.py
  pyproject.toml
  tests/unit/test_wikipedia.py
Labels: run-tests, docs, code

#181 [bug] Set git tracking in CommitFiles
  gofannon/github/commit_files.py
Labels: run-tests, code

#179 Add bug report template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/generic_issue.md
  .github/release-drafter.yml
Labels: infra, run-tests

#188 Broken link fix to contribute tool
  website/how-tos/index.md
Labels: docs

#203 [NEW CORE CONTRIBUTOR] vedansh-5
  website/about/index.md
Labels: docs

#204 Add scoring explanation to leaderboard
  .github/scripts/generate_scoring_html.js
  .github/workflows/build-site.yml
  .github/workflows/leaderboard.yml
  website/_includes/scoring.html
  website/_layouts/leaderboard.html
Labels: docs

#190 Add bit about creating issue first
  website/how-tos/contribute_tool.md
Labels: docs

#201 Add documentation for contributing new agentic framework
  website/how-tos/contribute_agentic_framework.md
  website/how-tos/index.md
Labels: docs, roadmap

#184 [Bug] Updating imports in Basic_Math.ipnb
  examples/Basic_Math.ipynb
  examples/Hierarchical_CoT.ipynb
  examples/Tree_of_Thought.ipynb
Labels: bug
