Repository The-AI-Alliance/gofannon, pull requests merged in 2025-05, with the labels that each got.

#298 [Tool] Add Simpler Grants Gov API
  docs/index.md
  docs/simpler_grants_gov/get_opportunity.md
  docs/simpler_grants_gov/index.md
  docs/simpler_grants_gov/list_agencies.md
  docs/simpler_grants_gov/query_by_applicant_eligibility.md
  docs/simpler_grants_gov/query_by_assistance_listing.md
  docs/simpler_grants_gov/query_by_award_criteria.md
  docs/simpler_grants_gov/query_by_dates.md
  docs/simpler_grants_gov/query_by_funding_details.md
  docs/simpler_grants_gov/query_by_multiple_criteria.md
  docs/simpler_grants_gov/query_opportunities.md
  docs/simpler_grants_gov/query_opportunities_by_agency.md
  docs/simpler_grants_gov/search_agencies.md
  examples/smolagents+simpler_grants_gov.ipynb
  gofannon/config.py
  gofannon/simpler_grants_gov/__init__.py
  gofannon/simpler_grants_gov/base.py
  gofannon/simpler_grants_gov/get_opportunity.py
  gofannon/simpler_grants_gov/list_agencies.py
  gofannon/simpler_grants_gov/query_by_applicant_eligibility.py
  gofannon/simpler_grants_gov/query_by_assistance_listing.py
  gofannon/simpler_grants_gov/query_by_award_criteria.py
  gofannon/simpler_grants_gov/query_by_dates.py
  gofannon/simpler_grants_gov/query_by_funding_details.py
  gofannon/simpler_grants_gov/query_by_multiple_criteria.py
  gofannon/simpler_grants_gov/query_opportunities.py
  gofannon/simpler_grants_gov/query_opportunities_by_agency.py
  gofannon/simpler_grants_gov/search_agencies.py
  gofannon/simpler_grants_gov/search_base.py
  gofannon/simpler_grants_gov/search_opportunities.py
  tests/unit/simpler_grants_gov/test_simpler_grants_gov_tools.py
Labels: run-tests, docs, code, tool

#303 [infra] add readthedocs.yaml
  .readthedocs.yaml
Labels: infra

#305 302 b
  .readthedocs.yaml
  website/_config_rtd.yml
Labels: docs

#308 Add Google ADK
  README.md
  gofannon/base/__init__.py
  gofannon/base/adk_mixin.py
  tests/unit/google/test_adk_mixin.py
  website/index.md
Labels: docs, code, framework

#310 Rename Exponents file to fix spelling error
  docs/basic_math/exponents.md
Labels: docs

#311 Typo in filename
  docs/basic_math/addition.md
Labels: docs

#309 remove pydantic warnings
  examples/Google_Search.ipynb
  examples/Ollama_Example.ipynb
  examples/smolagents+gofannon_quickstart.ipynb
Labels: example

#317 PDF Reader tool
  docs/pdf_reader/index.md
  docs/pdf_reader/pdf_reader.md
  gofannon/pdf_reader/__init__.py
  gofannon/pdf_reader/pdf_reader.py
  pyproject.toml
  tests/unit/testing/assets/empty.pdf
  tests/unit/testing/assets/not_a_pdf.txt
  tests/unit/testing/assets/sample.pdf
  tests/unit/testing/test_apod.py
  tests/unit/testing/test_pdf_reader.py
Labels: docs, code

#314 Add VertexAI example
  examples/vertexai.ipynb
Labels: example
